a correct security protocol should satisfy four requirements: no-intrusion, authenticity, freshness, and secrecy. we divide the four requirements into two groups (one for no-intrusion, authenticity, and freshness and the other for secrecy). for the former we use the message-exchange forms and for the latter, we use the p-knows and n-knows information that is inferred from a latest topological orders of the trigger-graph. based on these methods, flaws and weaknesses hidden in an imperfect security protocol could be uncovered.