security and privacy, accountability and anonymity, transparency and unobservability: these terms and more are vital elements for defining the overall security requirements---and, thus, security measurability criteria---of systems. however, these distinct yet related concepts are often substituted for one another in our discussions on securing trustworthy systems and services. this is damaging since it leads to imprecise security and trust requirements. consequently, this results in poorly defined metrics for evaluating system security. this paper proposes a trust-terms ontology, which maps out and defines the various components and concepts that comprise ict security and trust. we can use this ontology tool to gain a better understanding of their trust and security requirements and, hence, to identify more precise measurability criteria.