interest in the security of information systems has increased partly because of evolving systems maturity, and partly in response to dramatic intrusions into major systems. these have included intrusions by amateur 'hackers' which, although embarrassing have caused no substantial damage. intrusions from employees are far more damaging but have not been widely publicized. the paper describes the us government's security policy and its implications for private organizations. a security policy is basic to the concept of security and defines the manner in which an information system can access and manipulate data. protection mechanisms which enforce security policies are discussed. mandatory and discretionary policies which form a particular security policy are outlined. the characteristics of a formal security model are also defined, and the design of a secure operating system is discussed. the present status of information systems security is outlined.