security and efficiency of rekeying are crucialrequirements for multicast key management. however,the two requirements pull in different directions andbalancing them to meet the application needs is still anopen issue. in this paper we introduce a hybrid keytree scheme to balance security, namely the resistanceto collusion, and the efficiency. the resistance tocollusion is measured by an integer parameter. thecommunication and the storage requirements for thecontroller depend on this parameter too, and theydecrease as the resistance to collusion is relaxed. weanalytically evaluate the efficiency of our scheme andcompare with the previous work. the results show that ourscheme allows a fine-tuning of security requirements versusefficiency requirements at run-time, that is not possible withthe previous key management schemes.a hybrid key tree scheme for multicast to balance security and efficiency requirements