as technology continues to evolve, so do different entities that threaten the security of this technology. we believe that in order to build dependable software security should be treated just as any other important aspect of a system; to do this we must emphasize it at the beginning of our development cycle and be able to carry these security requirements down the cycle. we focus on a technique known as the common criteria, which allows for the development of security requirements. we extend the capabilities of common criteria beyond the requirements phase, to allow us to take security requirements into further stages of the cycle. in this paper we describe ccarch, a technique accompanied by a set of tools, that takes common criteria expressed security requirements to the architectural level. our approach aids in making the usage of common criteria more beneficial and applicable.ccarch: architecting common criteria security requirements