modern enterprise systems have to comply to regulations such as basel iii resulting in complex security requirements. these requirements need to be modeled at design-time and enforced at runtime. moreover, modern enterprise systems are often business-process driven, i.e., the system behavior is described as high-level business processes that are executed by a business process execution engine. consequently, there is a need for an integrated and tool-supported methodology that allows for specifying and enforcing compliance and security requirements for business process-driven enterprise systems. in this paper, we present a tool chain supporting both the design-time modeling as well as the run-time enforcement of security requirements for business process-driven systems.securebpmn: modeling and enforcing access control requirements in business processes